# Assignment 1 - Data Cleaning and Visualization
****

# Task 1: Data Preparation

###### Importing necessary libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore') # To ignore warnings

###### Importing datasets

In [ ]:
primary = pd.read_csv('./Global database on school-age digital connectivity-Corrected/Primary.csv', 
                      header=1, error_bad_lines=False, parse_dates=[11], skipinitialspace = True)
secondary = pd.read_csv('./Global database on school-age digital connectivity-Corrected/Secondary.csv', 
                      header=1, error_bad_lines=False, parse_dates=[11], skipinitialspace = True)
total_school_age = pd.read_csv('./Global database on school-age digital connectivity-Corrected/Total School Age.csv', 
                      header=1, error_bad_lines=False, parse_dates=[11], skipinitialspace = True)

###### Viewing the imported datasets

In [ ]:
primary.head(2)

In [ ]:
secondary.head(2)

In [ ]:
total_school_age.head(2)

###### Checking the data types

In [ ]:
primary.dtypes

In [ ]:
secondary.dtypes

In [ ]:
total_school_age.dtypes

###### Checking for null values

In [ ]:
primary.isnull().sum()

In [ ]:
secondary.isnull().sum()

In [ ]:
total_school_age.isnull().sum()

###### Making a copy of original dataset

In [ ]:
primary_copy = primary.copy()

In [ ]:
secondary_copy = secondary.copy()

In [ ]:
total_school_age_copy = total_school_age.copy()

##### Cleaning Primary.csv file

###### Checking for unique values in the column

In [ ]:
primary_copy['Income Group'].value_counts()

In [ ]:
# Before dropping 'Data Source', 'Region', 'Sub-region', 'Time period' columnns
primary_copy.shape

###### Adding a new column 'Survey Year' to replace 'Time period'

In [ ]:
primary_copy['Survey Year'] = primary_copy['Time period'].apply(lambda x: max(map(str, x.split('-'))))

###### Dropping unwanted columns

In [ ]:
# Dropping 'Data Source', 'Sub-region', 'Time period' columnns
primary_copy.drop(['Data source', 'Sub-region', 'Time period'], axis=1, inplace=True)

In [ ]:
# After dropping 'Data Source', 'Region', 'Sub-region', 'Time period' columnns
primary_copy.shape

In [ ]:
# Removing rows with more than 3 missing values
primary_copy=primary_copy.loc[primary_copy.isnull().mean(axis=1)<0.25]

In [ ]:
# Check for instance which had 3 missing values
primary_copy[primary_copy['Countries and areas'] == 'Italy']

In [ ]:
primary_copy.tail()

###### Replacing % and converting object type to float

In [ ]:
primary_copy['Rural (Residence)'] = primary_copy['Rural (Residence)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
primary_copy['Urban (Residence)'] = primary_copy['Urban (Residence)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
primary_copy['Poorest (Wealth quintile)'] = primary_copy['Poorest (Wealth quintile)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
primary_copy['Richest (Wealth quintile)'] = primary_copy['Poorest (Wealth quintile)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
primary_copy['Total'] = primary_copy['Total'].astype('str').str.replace('%', '').astype('float')

In [ ]:
primary_copy.dtypes

##### Handling Missing Values

In [ ]:
# Checking for missing values before handling them
primary_copy.isnull().sum()

###### Filling missing values with their respective mean values

In [ ]:
primary_copy['Rural (Residence)'].fillna(primary_copy['Rural (Residence)'].mean(axis=0), inplace=True)

In [ ]:
primary_copy['Urban (Residence)'].fillna(primary_copy['Urban (Residence)'].mean(axis=0), inplace=True)

In [ ]:
primary_copy['Poorest (Wealth quintile)'].fillna(primary_copy['Poorest (Wealth quintile)'].mean(axis=0), inplace=True)

In [ ]:
primary_copy['Richest (Wealth quintile)'].fillna(primary_copy['Richest (Wealth quintile)'].mean(axis=0), inplace=True)

In [ ]:
# Checking for missing values after handling them
primary_copy.isnull().sum()

###### Rounding values to 1 decimal place

In [ ]:
primary_copy['Richest (Wealth quintile)']=primary_copy['Richest (Wealth quintile)'].round(1)

In [ ]:
primary_copy['Poorest (Wealth quintile)']=primary_copy['Poorest (Wealth quintile)'].round(1)

###### Converting float to int

In [ ]:
primary_copy['Rural (Residence)'] = primary_copy['Rural (Residence)'].astype(int)

In [ ]:
primary_copy['Urban (Residence)'] = primary_copy['Urban (Residence)'].astype(int)

In [ ]:
primary_copy['Richest (Wealth quintile)'] = primary_copy['Richest (Wealth quintile)'].astype(int)

In [ ]:
primary_copy['Poorest (Wealth quintile)'] = primary_copy['Poorest (Wealth quintile)'].astype(int)

In [ ]:
primary_copy['Total'] = primary_copy['Total'].astype(int)

In [ ]:
# Check
primary_copy[primary_copy['Countries and areas'] == 'Egypt']

###### Replacing invalid years

In [ ]:
primary_copy['Survey Year'].value_counts()

In [ ]:
primary_copy['Survey Year'].replace(['99', '2076', '2027', '2562'], method='bfill', inplace=True)

In [ ]:
primary_copy['Survey Year'].value_counts()

##### Cleaning Secondary.csv file

In [ ]:
secondary_copy['Income Group'].value_counts()

In [ ]:
# Before dropping 'Data Source', 'Region', 'Sub-region', 'Time period' columnns
secondary_copy.shape

###### Adding a new column 'Survey Year' to replace 'Time period'

In [ ]:
secondary_copy['Survey Year'] = secondary_copy['Time period'].apply(lambda x: max(map(str, x.split('-'))))

###### Dropping unwanted columns

In [ ]:
# Dropping 'Data Source', 'Sub-region', 'Time period' columnns
secondary_copy.drop(['Data source', 'Sub-region', 'Time period'], axis=1, inplace=True)

In [ ]:
# After dropping 'Data Source', 'Region', 'Sub-region', 'Time period' columnns
secondary_copy.shape

In [ ]:
# Removing rows with more than 3 missing values
secondary_copy=secondary_copy.loc[secondary_copy.isnull().mean(axis=1)<0.25]

In [ ]:
# Check for instance which had 3 missing values
secondary_copy[secondary_copy['Countries and areas'] == 'Italy']

In [ ]:
secondary_copy.tail()

###### Replacing % and converting object type to float

In [ ]:
secondary_copy['Rural (Residence)'] = secondary_copy['Rural (Residence)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
secondary_copy['Urban (Residence)'] = secondary_copy['Urban (Residence)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
secondary_copy['Poorest (Wealth quintile)'] = secondary_copy['Poorest (Wealth quintile)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
secondary_copy['Richest (Wealth quintile)'] = secondary_copy['Poorest (Wealth quintile)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
secondary_copy['Total'] = secondary_copy['Total'].astype('str').str.replace('%', '').astype('float')

In [ ]:
secondary_copy.dtypes

##### Handling Missing Values

In [ ]:
# Checking for missing values before handling them
secondary_copy.isnull().sum()

###### Filling missing values with their respective mean values

In [ ]:
secondary_copy['Rural (Residence)'].fillna(secondary_copy['Rural (Residence)'].mean(axis=0), inplace=True)

In [ ]:
secondary_copy['Urban (Residence)'].fillna(secondary_copy['Urban (Residence)'].mean(axis=0), inplace=True)

In [ ]:
secondary_copy['Poorest (Wealth quintile)'].fillna(secondary_copy['Poorest (Wealth quintile)'].mean(axis=0), inplace=True)

In [ ]:
secondary_copy['Richest (Wealth quintile)'].fillna(secondary_copy['Richest (Wealth quintile)'].mean(axis=0), inplace=True)

In [ ]:
# Checking for missing values after handling them
secondary_copy.isnull().sum()

###### Rounding values to 1 decimal place

In [ ]:
secondary_copy['Richest (Wealth quintile)']=secondary_copy['Richest (Wealth quintile)'].round(1)

In [ ]:
secondary_copy['Poorest (Wealth quintile)']=secondary_copy['Poorest (Wealth quintile)'].round(1)

###### Converting float to int

In [ ]:
secondary_copy['Rural (Residence)'] = secondary_copy['Rural (Residence)'].astype(int)

In [ ]:
secondary_copy['Urban (Residence)'] = secondary_copy['Urban (Residence)'].astype(int)

In [ ]:
secondary_copy['Richest (Wealth quintile)'] = secondary_copy['Richest (Wealth quintile)'].astype(int)

In [ ]:
secondary_copy['Poorest (Wealth quintile)'] = secondary_copy['Poorest (Wealth quintile)'].astype(int)

In [ ]:
secondary_copy['Total'] = secondary_copy['Total'].astype(int)

In [ ]:
# Check
secondary_copy[secondary_copy['Countries and areas'] == 'Saint Lucia']

###### Renaming incorrect ISO code ('AGOA' to 'AGO')

In [ ]:
# Before renaming 'AGOA' to 'AGO'
secondary_copy[secondary_copy['ISO3']=='AGOA']

In [ ]:
# Renaming 'AGOA' to 'AGO'
secondary_copy['ISO3'].replace('AGOA', 'AGO', inplace=True)

In [ ]:
# After renaming 'AGOA' to 'AGO'
secondary_copy[secondary_copy['ISO3']=='AGOA']

###### Replacing invalid years

In [ ]:
secondary_copy['Survey Year'].value_counts()

In [ ]:
secondary_copy['Survey Year'].replace(['99', '2076', '3019', '2562'], method='bfill', inplace=True)

In [ ]:
secondary_copy['Survey Year'].value_counts()

##### Cleaning Total School Age.csv file

In [ ]:
total_school_age_copy['Income Group'].value_counts()

In [ ]:
# Correcting 'Income Group' for typo
total_school_age_copy['Income Group'].replace('Lowerr middle income (LM)', 'Lower middle income (LM)', inplace=True)

In [ ]:
# Check
total_school_age_copy['Income Group'].value_counts()

In [ ]:
# Before dropping 'Data Source', 'Region', 'Sub-region', 'Time period' columnns
total_school_age_copy.shape

###### Adding a new column 'Survey Year' to replace 'Time period'

In [ ]:
total_school_age_copy['Survey Year'] = total_school_age_copy['Time period'].apply(lambda x: max(map(str, x.split('-'))))

###### Dropping unwanted columns

In [ ]:
# Dropping 'Data Source', 'Sub-region', 'Time period' columnns
total_school_age_copy.drop(['Data source', 'Sub-region','Time period'], axis=1, inplace=True)

In [ ]:
# After dropping 'Data Source', 'Region', 'Sub-region', 'Time period' columnns
total_school_age_copy.shape

In [ ]:
# Removing rows with more than 3 missing values
total_school_age_copy=total_school_age_copy.loc[total_school_age_copy.isnull().mean(axis=1)<0.25]

In [ ]:
# Check for instance which had 3 missing values
total_school_age_copy[total_school_age_copy['Countries and areas'] == 'Argentina']

In [ ]:
total_school_age_copy.tail()

###### Replacing % and converting object type to float

In [ ]:
total_school_age_copy['Rural (Residence)'] = total_school_age_copy['Rural (Residence)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
total_school_age_copy['Urban (Residence)'] = total_school_age_copy['Urban (Residence)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
total_school_age_copy['Poorest (Wealth quintile)'] = total_school_age_copy['Poorest (Wealth quintile)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
total_school_age_copy['Richest (Wealth quintile)'] = total_school_age_copy['Poorest (Wealth quintile)'].astype('str').str.replace('%', '').astype('float')

In [ ]:
total_school_age_copy['Total'] = total_school_age_copy['Total'].astype('str').str.replace('%', '').astype('float')

In [ ]:
total_school_age_copy.dtypes

##### Handling Missing Values

In [ ]:
# Checking for missing values before handling them
total_school_age_copy.isnull().sum()

###### Filling missing values with their respective mean values

In [ ]:
total_school_age_copy['Rural (Residence)'].fillna(total_school_age_copy['Rural (Residence)'].mean(axis=0), inplace=True)

In [ ]:
total_school_age_copy['Urban (Residence)'].fillna(total_school_age_copy['Urban (Residence)'].mean(axis=0), inplace=True)

In [ ]:
total_school_age_copy['Poorest (Wealth quintile)'].fillna(total_school_age_copy['Poorest (Wealth quintile)'].mean(axis=0), inplace=True)

In [ ]:
total_school_age_copy['Richest (Wealth quintile)'].fillna(total_school_age_copy['Richest (Wealth quintile)'].mean(axis=0), inplace=True)

In [ ]:
# Checking for missing values after handling them
total_school_age_copy.isnull().sum()

###### Checking for duplicated values

In [ ]:
primary_copy.duplicated().sum()

In [ ]:
secondary_copy.duplicated().sum()

In [ ]:
total_school_age_copy.duplicated().sum()

###### Rounding values to 1 decimal place

In [ ]:
total_school_age_copy['Richest (Wealth quintile)']=total_school_age_copy['Richest (Wealth quintile)'].round(1)

In [ ]:
total_school_age_copy['Poorest (Wealth quintile)']=total_school_age_copy['Poorest (Wealth quintile)'].round(1)

###### Converting float to int

In [ ]:
total_school_age_copy['Rural (Residence)'] = total_school_age_copy['Rural (Residence)'].astype(int)

In [ ]:
total_school_age_copy['Urban (Residence)'] = total_school_age_copy['Urban (Residence)'].astype(int)

In [ ]:
total_school_age_copy['Richest (Wealth quintile)'] = total_school_age_copy['Richest (Wealth quintile)'].astype(int)

In [ ]:
total_school_age_copy['Poorest (Wealth quintile)'] = total_school_age_copy['Poorest (Wealth quintile)'].astype(int)

In [ ]:
total_school_age_copy['Total'] = total_school_age_copy['Total'].astype(int)

In [ ]:
# Check
total_school_age_copy[total_school_age_copy['Countries and areas'] == 'China']

###### Replacing invalid years

In [ ]:
total_school_age_copy['Survey Year'].value_counts()

In [ ]:
total_school_age_copy['Survey Year'].replace(['99', '2076', '2562'], method='bfill', inplace=True)

In [ ]:
total_school_age_copy['Survey Year'].value_counts()

##### Exporting to CSV

In [ ]:
primary_copy.to_csv('cleaned_primary.csv', index=False)

In [ ]:
secondary_copy.to_csv('cleaned_secondary.csv', index=False)

In [ ]:
total_school_age_copy.to_csv('cleaned_total_school_age.csv', index=False)

##### Data Exploration

In [ ]:
primary_copy.describe()

In [ ]:
# Box plot for 'Total' to check outliers if any 
primary_copy['Total'].plot(kind='box')
plt.show()

In [ ]:
secondary_copy.describe()

In [ ]:
# Box plot for 'Total' to check outliers if any
secondary_copy['Total'].plot(kind='box')
plt.show()

In [ ]:
total_school_age_copy.describe()

In [ ]:
# Box plot for 'Total' to check outliers if any
total_school_age_copy['Total'].plot(kind='box')
plt.show()

# Task 2: Data Exploration

## Task 2.1

In [ ]:
# Task 2.1
# Nominal - Region
# Pie chart - to show different categories
# Plot to show total % of children in all regions with internet connection at home in each of the country
#dia, ax = plt.subplots()
primary_copy.groupby('Region').size().plot(kind='pie', 
                                           title='Plot to show total % of children in all regions with internet connection at home in each of the country', 
                                           ylabel='',autopct='%1.1f%%', textprops={'fontsize': 10})
plt.show()

In [ ]:
# Ordinal - Income Group
# Visualise the total wrt income group
# Bar plot - for catergories
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(primary_copy['Income Group'], primary_copy['Total'], color='crimson', width = 0.5)
plt.xlabel("Income Group")
plt.ylabel("Total % of Internet connection at children's home")
plt.title("Overall Percent of children aged (3-17) with internet connection w.r.t. Income Group")
plt.show()

In [ ]:
# Task 2.1
# Numerical - Urban
# Scatter plot to see relation between children in Urban residence having internet connection at home over different survey years
# Sorting the dataset wrt to 'Survey Year' in ascending order
primary_copy_sorted = primary_copy.sort_values(by=['Survey Year'])
primary_copy_sorted.plot(kind='scatter', x=9, y=6, 
                         title='Scatter plot to see relation between children in Urban residence having internet connection at home over different survey years', 
                        color='black')
plt.xlabel("Survey Year")
plt.ylabel("% Urban (Residence)")
plt.show()

## Task 2.2

In [ ]:
# Task 2.2

# Top 10 countries in terms of Rural (Residence) and Upper middle income (UM)
total_um = total_school_age_copy[(total_school_age_copy['Income Group']=='Upper middle income (UM)')]
top10_total_um_rural = total_um.nlargest(10, ['Rural (Residence)'])
top10_total_um_rural = top10_total_um_rural[['Countries and areas', 'Income Group', 'Rural (Residence)']]

# Plot for top 10 countries and areas w.r.t. Upper Middle Income (UM) and Rural (Residence)
fig, ax1 = plt.subplots()
ax1.bar(top10_total_um_rural['Countries and areas'], top10_total_um_rural['Rural (Residence)'], color='olive')
plt.setp(ax1.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.xlabel("Countries and areas")
plt.ylabel("% Rural (Residence)")
plt.title("Plot for top 10 countries and areas w.r.t. Upper Middle Income (UM) and Rural (Residence)")
plt.show()

In [ ]:
# Top 10 countries in terms of Urban (Residence) and Upper middle income (UM)
top10_total_um_urban = total_um.nlargest(10, ['Urban (Residence)'])
top10_total_um_urban = top10_total_um_urban[['Countries and areas', 'Income Group', 'Urban (Residence)']]

# Plot for top 10 countries and areas w.r.t. Upper Middle Income (UM) and Urban (Residence)
fig, ax1 = plt.subplots()
ax1.bar(top10_total_um_urban['Countries and areas'], top10_total_um_urban['Urban (Residence)'], color='orange')
plt.setp(ax1.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.xlabel("Countries and areas")
plt.ylabel("% Urban (Residence)")
plt.title("Plot for top 10 countries and areas w.r.t. Upper Middle Income (UM) and Urban (Residence)")
plt.show()

In [ ]:
# Top 10 countries in terms of Rural (Residence) and Lower middle income (LM)
total_lm = total_school_age_copy[(total_school_age_copy['Income Group']=='Lower middle income (LM)')]
top10_total_lm_rural = total_lm.nlargest(10, ['Rural (Residence)'])
top10_total_lm_rural = top10_total_lm_rural[['Countries and areas', 'Income Group', 'Rural (Residence)']]

# Plot for top 10 countries and areas w.r.t. Lower Middle Income (UM) and Rural (Residence)
fig, ax1 = plt.subplots()
ax1.bar(top10_total_lm_rural['Countries and areas'], top10_total_lm_rural['Rural (Residence)'], color='gray')
plt.setp(ax1.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.xlabel("Countries and areas")
plt.ylabel("% Rural (Residence)")
plt.title("Plot for top 10 countries and areas w.r.t. Lower Middle Income (UM) and Rural (Residence)")
plt.show()

In [ ]:
# Top 10 countries in terms of Urban (Residence) and Lower middle income (LM)
top10_total_lm_urban = total_lm.nlargest(10, ['Urban (Residence)'])
top10_total_lm_urban = top10_total_lm_urban[['Countries and areas', 'Income Group', 'Urban (Residence)']]

# Plot for top 10 countries and areas w.r.t. Lower Middle Income (UM) and Urban (Residence)
fig, ax1 = plt.subplots()
ax1.bar(top10_total_lm_urban['Countries and areas'], top10_total_lm_urban['Urban (Residence)'], color='navy')
plt.setp(ax1.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.xlabel("Countries and areas")
plt.ylabel("% Urban (Residence)")
plt.title("Plot for top 10 countries and areas w.r.t. Lower Middle Income (UM) and Urban (Residence)")
plt.show()

In [ ]:
# Top 10 countries in terms of Rural (Residence) and Low income (L)
total_low = total_school_age_copy[(total_school_age_copy['Income Group']=='Low income (L)')]
top10_total_low_rural = total_low.nlargest(10, ['Rural (Residence)'])
top10_total_low_rural = top10_total_lm_rural[['Countries and areas', 'Income Group', 'Rural (Residence)']]

# Plot for top 10 countries and areas w.r.t. Low Income (L) and Rural (Residence)
fig, ax1 = plt.subplots()
ax1.bar(top10_total_low_rural['Countries and areas'], top10_total_low_rural['Rural (Residence)'], color='purple')
plt.setp(ax1.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.xlabel("Countries and areas")
plt.ylabel("% Rural (Residence)")
plt.title("Plot for top 10 countries and areas w.r.t. Low Income (L) and Rural (Residence)")
plt.show()

In [ ]:
# Top 10 countries in terms of Urban (Residence) and Low income (L)
top10_total_low_urban = total_low.nlargest(10, ['Urban (Residence)'])
top10_total_low_urban = top10_total_low_urban[['Countries and areas', 'Income Group', 'Urban (Residence)']]

# Plot for top 10 countries and areas w.r.t. Low Income (L) and Urban (Residence)
fig, ax1 = plt.subplots()
ax1.bar(top10_total_low_urban['Countries and areas'], top10_total_low_urban['Urban (Residence)'], color='green')
plt.setp(ax1.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.xlabel("Countries and areas")
plt.ylabel("% Urban (Residence)")
plt.title("Plot for top 10 countries and areas w.r.t. Low Income (L) and Urban (Residence)")
plt.show()

In [ ]:
# Top 10 countries in terms of Rural (Residence) and High income (H)
total_high = total_school_age_copy[(total_school_age_copy['Income Group']=='High income (H)')]
top10_total_high_rural = total_high.nlargest(10, ['Rural (Residence)'])
top10_total_high_rural = top10_total_high_rural[['Countries and areas', 'Income Group', 'Rural (Residence)']]

# Plot for top 10 countries and areas w.r.t. High Income (H) and Rural (Residence)
fig, ax1 = plt.subplots()
ax1.bar(top10_total_high_rural['Countries and areas'], top10_total_high_rural['Rural (Residence)'], color='violet')
plt.setp(ax1.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.xlabel("Countries and areas")
plt.ylabel("% Rural (Residence)")
plt.title("Plot for top 10 countries and areas w.r.t. High Income (H) and Rural (Residence)")
plt.show()

In [ ]:
# Top 10 countries in terms of Urban (Residence) and High income (H)
top10_total_high_urban = total_high.nlargest(10, ['Urban (Residence)'])
top10_total_high_urban = top10_total_high_urban[['Countries and areas', 'Income Group', 'Total', 'Urban (Residence)']]

# Plot for top 10 countries and areas w.r.t. High Income (H) and Urban (Residence)
fig, ax1 = plt.subplots()
ax1.bar(top10_total_high_urban['Countries and areas'], top10_total_high_urban['Urban (Residence)'], color='brown')
plt.setp(ax1.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.xlabel("Countries and areas")
plt.ylabel("% Urban (Residence)")
plt.title("Plot for top 10 countries and areas w.r.t. High Income (H) and Urban (Residence)")
plt.show()

## Task 2.3

In [ ]:
# Filtering out data based on Income Group = 'Lower middle income (LM)'
lm_primary = primary_copy.loc[primary_copy['Income Group']=='Lower middle income (LM)']
lm_secondary = secondary_copy.loc[secondary_copy['Income Group']=='Lower middle income (LM)']

In [ ]:
# Selecting only the needed columns from the resulted dataframe
lm_primary = lm_primary[['Income Group','Total', 'Rural (Residence)', 'Urban (Residence)', 'Poorest (Wealth quintile)', 'Richest (Wealth quintile)']]
lm_secondary = lm_secondary[['Income Group', 'Total', 'Rural (Residence)', 'Urban (Residence)', 'Poorest (Wealth quintile)', 'Richest (Wealth quintile)']]

In [ ]:
# Summing the values and creating a new column 'Education Level' and assigning it to a new data frame for Primary
primary_total = lm_primary.groupby('Income Group').sum()
primary_total['Education Level'] = 'Primary'
print(primary_total)

In [ ]:
# Summing the values and creating a new column 'Education Level' and assigning it to a new data frame for Secondary
secondary_total = lm_secondary.groupby('Income Group').sum()
secondary_total['Education Level'] = 'Secondary'
print(secondary_total)

In [ ]:
# Merging the dataframes
merged_df = pd.concat([primary_total, secondary_total], axis=0, ignore_index=True)
print(merged_df)

In [ ]:
# Plotting to compare the percentges of Primary and Secondary
merged_df.plot(x="Education Level", y=["Total", 'Rural (Residence)', 'Urban (Residence)', 
                                       'Poorest (Wealth quintile)', 'Richest (Wealth quintile)'], kind="bar")
plt.legend(labels=["% Total", '% Rural (Residence)', '% Urban (Residence)', 
                   '% Poorest (Wealth quintile)', '% Richest (Wealth quintile)'], loc='upper center', fontsize=7.5)
plt.ylabel('Values in %')
plt.title('Compare the % of the Primary & Secondary in Lower middle income (LM) group')
plt.show()